h4 {
    text-align: center;
    margin-bottom: 40px;
}

.main {
    width: 100%;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid orange;
    color: white;
}

.pokaz {
    margin: 20px;
    color: darkgray;
    text-align: center;
}

.pokaz:hover {
    margin: 20px;
    color: orange;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #a5a5a5;
    margin: 20px;
}

.view {
    margin-bottom: 30px;
}

.info {
    padding-bottom: 30px;
}

.kup {
    background-color: rgb(235, 152, 0);
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .projekcja {
        height: 1000px;
    }
}