html {
    background-color: black;
    padding: 0;
    margin: 0;
}

#root {
    background-color: black;
    padding: 0;
    margin: 0;
}

.naglowek {
    padding-top: 20px;
    padding-bottom: 20px;
}

.naglowek p {
    color: white;
}

.naglowek a {
    color: white;
}

.naglowek a:hover {
    color: orange;
}

h1 {
    text-align: center;
    color: orange;
    font-weight: bolder;
}

.navbar {
    background-color: orange;
}

.navbar a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
    background-color: rgb(235, 152, 0);
}

a.logo:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.ad {
    color: white;
    text-align: center;
}

.main {
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid orange;
}

.hh {
    padding: 5px 20px 5px 20px;
}

.tytulowy {
    width: 100%;
    background-color: #ffffff;
}

.tytul {
    padding: 20px;
    text-align: center;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #a5a5a5;
    margin: 20px;
}